{{template "header.html" }}

<h1>Contact</h1>
<p>
Over the years I've gotten a lot of emails over this service. Mostly it's people who accidentally uploaded 
something they shouldn't which is hopefully a solved problem now. But I occassionally get issues with interesting projects. Feel 
free to send me any email you like. Questions, feedback, feature requests, etc. I'm fairly busy but I still try to respond. This new
version of Post Test Server incorporates many of the feature request emails I got way back in 2009. So I do listen, even if it takes
a decade to act on them. :)
</p>
<p>
    Feel free to reach out with weird use cases and crazy requests. Worst thing I can do is say no.
</p>
<p>
    me(at)henrycipolla.com
</p>

{{template "footer.html" }}