<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PTS - V2</title>

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8514998-15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-8514998-15');
    </script>
  </head>

  <body>
    <div class="container">
        <!-- Draw the header -->
        <div class="row" style="background-color:darkgrey">
            <div class="col-md-12">
                <h1>{{ if hasField . "Title" }}{{.Title}}{{ else }}Post Test Server V2{{end}}</h1>
            </div>
        </div>

        <!-- split everything under the header in two columns -->
        <div class="row">
            <!-- sidebar gets one column -->
            <div class="col-md-2">
                {{template "sidebar.html"}}
            </div>

            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12">
