{{template "header.html" . }}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    
        <strong>ID:</strong> {{.Toilet.ID}}<br/>
        <strong>Created:</strong> {{.Toilet.Created.Format "2006-01-02 15:04:05 UTC"}}<br/>
        <strong>Post URL:</strong> <a href="/t/{{.Toilet.ID}}/post">/t/{{.Toilet.ID}}/post</a><br/>
        <strong>Config</strong> <a href="#" id="ToggleConfig">show</a>

        <div id="ConfigDetails" class="indented mt-3" style="display:none">

            <div class="row">
                <div class="col-xs-10">
                    <span style="color:red">All values are transmitted and stored in plaintext!<br/>Do not submit anything you wouldn't want emailed to your worst enemy.</span>
                </div>
            </div>
            <form method="POST" action="/t/{{.Toilet.ID}}/edit" id="toilet_edit_form">
            
                <div class="row mt-3">
                    <div class="col-xs-5">HTTP AUTH</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Username:</div>
                    <div class="col-xs-3"><input type="text" name="AuthUsername" value="{{.Toilet.AuthUsername}}"/></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Password:</div>
                    <div class="col-xs-3"><input type="text" name="AuthPassword" value="{{.Toilet.AuthPassword}}"/></div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-xs-5">Server Response</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Status Code:</div>
                    <div class="col-xs-3"><input type="text" name="ResponseCode" size="3" value="{{.Toilet.ResponseCode}}"/></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Body:</div>
                    <div class="col-xs-3"><textarea name="ResponseBody" rows="10" cols="50" form="toilet_edit_form">{{.Toilet.ResponseBody}}</textarea></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Delay:</div>
                    <div class="col-xs-3"><input type="text" name="ResponseDelay" size="1" value="{{.Toilet.ResponseDelay}}"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-xs-5">Weird Configs</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">Dump Body First:</div>
                    <div class="col-xs-3"><input type="checkbox" name="DumpBodyFirst" value="true" {{ if .Toilet.DumpBodyFirst}}checked{{ end }}/></div>
                </div>

                <div class="row mt-3 mb-3">
                    <div class="col-xs-2"><input type="submit" value="Update Toilet Config"></div>
                </div>

            </form>
        </div>

        <p>
            <h3>Dumps</h3>
            {{ if .Dumps }}
            <table class="table table-condensed table-borderless table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Timestamp</th>
                        <th>Method</th>
                        <th>Headers</th>
                        <th>Params</th>
                        <th>Body Length</th>
                        <th>Files</th>
                    </tr>
                    </thead>
                    
                <tbody>
                    {{ range .Dumps }}
                        <tr>
                            <td>{{.ID }}</td>
                            <td>{{.Timestamp.Format "2006-01-02 15:04:05 MST"}}</td>                                        
                            <td>{{.Method}}</td>
                            <td>{{len .Headers}}</td>
                            <td>{{len .FormValues}}</td>
                            <td>{{len .Body}}</td>
                            <td>{{len .Files}}</td>
                            <td><a href="/t/{{ $.Toilet.ID }}/d/{{ .ID }}">view</a> | <a href="/t/{{ $.Toilet.ID}}/d/{{ .ID }}/flush">flush</a></td>                            
                        </tr>
                    {{ end }}
                    <tr> 
                        <td colspan="3">
                            <a href="/t/{{ $.Toilet.ID }}/flush_all" onclick="return confirm('Are your sure? This will flush all dumps in your toilet.')">flush all dumps</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ else }}
                There are no dumps in this toilet.
            {{ end }}
        </p>

<script type="text/javascript">
$( "#ToggleConfig" ).click(function() {
  $("#ToggleConfig").text( $("#ToggleConfig").text() == "show" ? "hide" : "show" );
  $( "#ConfigDetails" ).toggle();
});
</script>

{{template "footer.html" }}